.container {
    width: 100%;
    display: flex;
}

.acordion {
    width: 100%;
}

.formTH {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center; 
}

.formTHEdit {
    display: flex;
    flex-direction: column;
}

.containerInput div {
    margin-right: 10px;
    
}

.select {
    width: 100%;
}

.selectEdit {
    width: 100%;
    
}


.containerInputEdit {
    width: 100%;

}

.containerInputSelect {
    width: 15%;
    margin-right: 10px;
}
.buttonSubmitForm {
    width: 200px;
    height: 38px;
    border-radius: 2px;
    border: none;
    background-color: coral;
    color: #fff;
}