.container {
    display: flex;
    width: 100%;
    flex-direction: row;    
   
}


.acordion {
    width: 100%;
}

.heading {
    color: #F27B35;
}

.headingEdit {
    color: #F27B35;
}


.formVolunteers {
    display: flex;
    width: 100%;

    flex-direction: row; 
    align-items: center;
  
}

.formVolunteersEdit {
    display: flex;
    width: 100%;
    flex-direction: column; 
    align-items: center;
    padding: 10px;
  
}


.containerInput {
    width: 15%;
    margin-right: 15px;
  
}

.containerInputEdit {
    width: 100%;
    
    
}


.inputs {
  margin: 15px;
}

.buttonSubmitForm {
    font-weight: bold;
    background-color: #F27B35;
    color: #fff;
    height: 40px;
    margin-bottom: 8px;
    border: none;
    width: 10.5rem;
    border-radius: 3px;
    
}


