.pageName {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F27B35;
    height: 50px;
    color: #fff;
}

.title{
    cursor: pointer;
}

.container {
    height: 100vh;
    background-color: #ffffff;
}

