.container {
    width: 99%;
}

.heading {
    color:  #F27B35;
    font-weight: 400;
    padding: 5px;
    width: 22%;
 
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 2px;
}

.spanAdjust {
    margin-left: 10px;
    width: 100%;
}

.containerForm {
    width: 109%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.containerForm .containerSelectAnimalGuardian {
    width: 22%;
}

.containerForm .containerSelectAnimal {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.select {
    width: 100%;
}

.containerForm .containerSelectAnimal .btModalInfo {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.animalSelect {
    width: 100%;
}

.containerForm .containerSelectGuardian {
    width: 22%;
    padding-top: 5px;
   
}

.guardianSelect {
    width: 100%;
}

.containerForm .containerDataPicker {
    padding-bottom: 8px;
    width: 150px;
}

.containerForm .containerSlectCollaborator{
    width: 100%;
}

.guardianCollaboratorGroup{
    margin-bottom: 15px;
   height: 110px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.collaboratorSelect{
    width: 100%;
}

.containerForm .btRegisterAdoption {
    height: 40px;
    border: none;
    width: 100%;
    background-color: #F27B35;
    color: #ffffff;
    font-weight: 600;
    border-radius: 3px;

}

.containerForm .containerButton{
    width: 22%;
    padding-top: 5px;
}


.containerFormEdit {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.containerFormEdit .containerSlectCollaborator {
    margin-top: 10px;
    padding-bottom: 20px;
}

.containerFormEdit .containerSelectAnimalGuardianEdit {
    width: 300px;
}

.containerFormEdit .containerSelectAnimalGuardianEdit .containerSelectAnimalEdit {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.containerFormEdit .containerSelectAnimalGuardianEdit .containerSelectAnimalEdit i {
    margin-top: 10px;
    width: 10px;
}

.containerFormEdit .containerButton {
    width: 100%;
    margin-top: 15px;
}

.guardianSelectEdit {
    margin-top: 15px;
    width: 100%;
  
}

.guardianSelectEdit .autoCompleteEdit {
    width: 100%;
}