.pageName {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F27B35;
    height: 50px;
    color: #fff;

 
}
.container {
    height: 100vh;
    background-color: #ffffff;
}

.title{
    cursor: pointer;
}

.heading {
    color:  #F27B35;
    font-weight: 400;
    padding: 5px;
    width: 12%;
 
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 2px;
}

.heading i  {
    margin-right: 10px;
}




.cardMoney {
    width: 90%;
    height: 180px;
    border-left: 4px solid #F27B35;
    margin-bottom: 20px;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.cardContainer {
    display: flex;
    width: 100%;
    flex-direction: column  ;
}

.iconDescriptionCard {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    background-color: #F27B35;
    color: #ffffff;
}

.headCard {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    
    background-color: #e7e7e7;
    color: #64718C;
}

.headCard > strong {
    margin-right: 15px;
}

.headCard > div:last-child {
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
 
}

.headCard > div:first-child {
    width: 95%;
 
}

.headCard > div:last-child > i {
    color: #F27B35,
    
}

.headCard > div:last-child > i:hover{
    background-color: #F27B35;
    border-radius: 100%;
    color: #fff;
    transform: scale(1.01);
    transition: 0.2s ease-in-out;

}

.descriptionDonation {
    width: 100%;
    max-height: 100px;
    min-height: 100px;
}

.cardContainer > div:last-child {
    display: flex;
    width: 100%;
    flex-direction: row;
    padding: 5px;
}

.cardContainer > div:last-child > div:first-child {
   
    width: 75%;
}

.contactAction {
    display: flex;
    width: 25%;
    padding: 10px;
    flex-direction: column;
    justify-content: space-around;
}

.contactAction > div:first-child {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.contactAction > div:first-child > i {
    margin-right: 4px;
    color: #64718C;
}


.contactAction > div:first-child > strong {
    font-size: 1.2rem;
    color: #64718C;
}

.contactAction > button {
    width: 100%;
    height: 35px;
    border: none;
    background-color: #F27B35;
    color: #fff;
    font-weight: bold;
    border-radius: 3px;
}

.detailedDonationDescription {
    width: 100%;
    padding-left: 10px;
    display: flex;
    height: 110px;
    flex-direction: column;
    justify-content: space-around;
}

.detailedDonationDescription > div {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.detailedDonationDescription > div > i {
    margin-right: 10px;
    color:#64718C;
}

.detailedDonationDescription > div > strong {
    margin-right: 10px;
    font-weight: bold;
    width: 25%;
    color: #64718C;

}
.detailedDonationDescription > div > span {
    font-weight: bold;
    color: dimgray;
}

.formDivider {
    display: flex;
    flex-direction: row;
}

.appRequestDonationList {
    width: 50%;
}