.container {
    height: 100vh;
    background-color: #ffffff;
    
}

.pageName {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    height: 50px;
    color: #F27B35;
 
}

.addEvent{
    display: flex;
    background-color: #f2f2f2;
}

.buttonAddEvent > span{
    color: #F27B35;
}